@import '../../../../../public/css/variables.scss';
.wrapper{
    width: 100%;
    height: 100%;
    text-align: center;
    margin:auto;
    :global(.btn-group){
    	width: 100%;
    	margin-bottom: 1rem;
    	:global(.caret){
    		float: right;
    		margin-top: 0.7rem;
    	}
    }
}