$app_red:#BE0712;
$app_yellow:#FED86E;
$app_green:#548039;
$app_light_grey:#D8D8D8;
$app_dark_grey:#BFBFBF;
$app_black:#000;
$app_white:#fff;
$app_blue:#5E9CD3;
$pending_bg:#EBEFF7;
$running_bg:#EDF1F8;
$rejected_bg:#FBE5E5;
$complete_bg:#ECF1EA;
$diagram_green:#C6DFB5;
$diagram_red:#F6CBAE;