html{
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  font-family: "Lato";
  background-color::#171717;
}
.btn{
  border-radius: 0.7rem;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #ffffff;
}
p {
  font-size: 1.4rem;
  line-height: 1.75;
}
p.large {
  font-size: 1.6rem;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #FFC83D;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato";
  font-weight: bold;
}
.img-centered {
  margin: 0 auto;
}

.btn-primary {
  color: #ffffff;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Lato";
  text-transform: uppercase;
  font-weight: 700;
}
body {
  webkit-tap-highlight-color: #fed136;
}
input{
  font-size: 1.6rem!important;
}
#root {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

